@charset "utf-8";
/* CSS boa Document */

/* ------------------BUTTONS------------------------ */

.btn-startchat {
	background-image:url(img/NewDPIC_start_chat.png)!important;
	background-position: 0 0!important;
	width:117px;
	height:30px;
	border:none!important;
}
.btn-startchat:hover {
	background-image:url(img/NewDPIC_start_chat.png)!important;
	background-position: 0 0!important;
	width:117px;
	height:30px;
	border:none!important;
}

.btn-submit {
	background-image:url(img/LiveAgen_DPIC_Resized_Submit.png)!important;
	background-position: 0 0!important;
	width:96px;
	height:28px;
	border:none!important;
}
.btn-submit:hover {
	background-image:url(img/LiveAgen_DPIC_Resized_Submit.png)!important;
	background-position: 0 0!important;
	width:96px;
	height:28px;
	border:none!important;
}

.btn-close {
	background-image:url(img/LiveAgent_DPIC_Resized_Close.png)!important;
	background-position: 0 0!important;
	width:96px;
	height:30px;
	border:none!important;
}
.btn-close:hover {
	background-image:url(img/LiveAgent_DPIC_Resized_Close.png)!important;
	background-position: 0 0!important;
	width:96px;
	height:30px;
	border:none!important;
}

/* ------------------HEADER------------------------ */
.livechat_header {
	background:url(img/DPIC_Nissan_Infiniti_header.png) no-repeat;
	height:96px;
	width:100%;
	text-align:right;
}

.livechat_header_postchat, .livechat_case_header {
	background:url(img/NewNissan_Infiniti_Regular.png) no-repeat;
	height:95px;
	width:100%;
	text-align:right;
}

/* ------------------BACKGROUNDS------------------------ */
.livechat_bg, .livechat_bg_blank {
	background:url(img/NewNissan_bg.png) no-repeat;
	width:100%;
	height:418px;
}

.livechat_bg_blank {
	background:url(img/NewNissan_bg_cases.png) no-repeat;
	width:100%;
	height:514px;
}

/* ------------------TEXTs------------------------ */
.livechat_txt {
	font-family: Verdana, Geneva, sans-serif;
	font-style:italic;
	font-size:12px;
	color:#c71331;
}

.livechat_txt_main_fields {
	font-family: Verdana, Geneva, sans-serif;
	font-size:13px;
}

.livechat_field_label_txt {
	text-align:left!important;
}

.livechat_footer_txt {
	font: Verdana, Geneva, sans-serif;
	font-size:9px;
}

/* ------------------Textbox------------------------ */
.livechat_textbox {
	width:215px!important; 
	background-color:#E2E2E2!important; 
	border: 0px solid!important; 
	font-size:14px!important; 
	height:25px!important;
}

.livechat_survey_textbox {
	background-color:#E2E2E2!important; 
	border: 0px solid!important; 
}

.livechat_textbox_comments {
	width:235px!important; 
	background-color:#E2E2E2!important; 
	border: 0px solid!important; 
	height:25px!important;
}

.livechat_textboxarea {
	width:230px!important;
	background-color:#E2E2E2!important;
	border: 0px solid!important; 
	height:180px!important;
}

/* ------------------ DIVs ------------------------ */
.div_case {
	padding-top: 100px; 
	padding-left: 5px;
}

/* ------------------General------------------------ */
body .bPageBlock {
	border-width:0px!important;
}
.bPageBlock.secondaryPalette {
	background:none!important;
	border:none!important;
}
.apexp .apexDefaultPageBlock.bPageBlock .pbBody {
	margin:0!important;
}
.bPageBlock .detailList TR TD {
	border:none!important;
}

.bPageBlock .detailList TR TH {
	border-bottom:none!important;
}

.bPageBlock .labelCol {
	font: bold 14px Arial!important;
	color:#000!important;
}

body .bPageBlock .pbBody .labelCol, body .bPageBlock .pbBody .dataCol, body .bPageBlock .pbBody .data2Col {
	padding-top:5px!important;
}