@charset "utf-8";
/* CSS boa Document */

/* ------------------BUTTONS------------------------ */

.btn-startchat {
	background-image:url(img/NewInfiniti_start_chat.png)!important;
	background-position: 0 0!important;
	width:117px;
	height:30px;
	border:none!important;
}
.btn-startchat:hover {
	background-image:url(img/NewInfiniti_start_chat.png)!important;
	background-position: 0 0!important;
	width:117px;
	height:30px;
	border:none!important;
}

.infiniti-btn-submit {
	background-image:url(img/infiniti_submit.gif)!important;
	width:117px;
	height:30px;
	border:none!important;
}
.infiniti-btn-submit:hover {
	background-image:url(img/infiniti_submit.gif)!important;
	background-position: 0 0!important;
}

.infiniti-btn-close {
	background-image:url(img/infiniti_close_window.gif)!important;
	width:117px;
	height:30px;
	border:none!important;
}
.infiniti-btn-close:hover {
	background-image:url(img/infiniti_close_window.gif)!important;
	background-position: 0 0!important;
}

.btn-submit {
	background-image:url(img/infiniti_submit.gif)!important;
	width:117px;
	height:30px;
	border:none!important;
}
.btn-submit:hover {
	background-image:url(img/infiniti_submit.gif)!important;
	background-position: 0 0!important;
}

/* ------------------HEADER------------------------ */
.livechat_header {
	background:url(img/NewInfiniti_header.png) no-repeat;
	height:77px;
	width:100%;
	text-align:right;
}

.livechat_header_postchat {
	background:url(img/NewInfiniti_header_regular.png) no-repeat;
	height:77px;
	width:100%;
	text-align:right;
}

/* ------------------BACKGROUNDS------------------------ */
.livechat_bg {
	background:url(img/NewInfiniti_bg.png) no-repeat;
	width:100%;
	height:438px;
}

.livechat_bg_blank {
	background:url(img/NewInfiniti_bg_cases.png) no-repeat;
	width:100%;
	height:514px;
}

/* ------------------TEXTs------------------------ */
.livechat_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:12px;
	color:#BF1748;
}

.livechat_footer_txt {
	font:Verdana, Geneva, sans-serif;
	font-size:9px;
	color:#889999!important;
}

.livechat_textbox_comments {
	width:235px!important; 
	background-color:#E2E2E2!important; 
	border: 0px solid!important; 
	height:25px!important;
}

.livechat_textboxarea {
	width:230px!important;
	background-color:#E2E2E2!important;
	border: 0px solid!important; 
	height:180px!important;
}

/* ------------------Textbox------------------------ */
.livechat_survey_textbox {
	background-color:#E2E2E2!important; 
	border: 0px solid!important; 
}

/* ------------------ DIVs ------------------------ */
.div_case {
	padding-top: 80px; 
	padding-left: 5px;
}

/* ------------------General------------------------ */
body .bPageBlock {
	border-width:0px!important;
}
.bPageBlock.secondaryPalette {
	background:none!important;
	border:none!important;
}
.apexp .apexDefaultPageBlock.bPageBlock .pbBody {
	margin:0!important;
}
.bPageBlock .detailList TR TD {
	border:none!important;
}

.bPageBlock .detailList TR TH {
	border-bottom:none!important;
}

.bPageBlock .labelCol {
	font: 14px Arial!important;
	color:#000!important;
}

.bPageBlock .detailList .labelCol {
	width:19%!important;
}

body .bPageBlock .pbBody .labelCol, body .bPageBlock .pbBody .dataCol, body .bPageBlock .pbBody .data2Col {
	padding-top:5px!important;
}