@charset "utf-8";
/* CSS boa Document */

/* ------------------LOGO------------------------ */
.main-logo {
	background-image:url(img/NissanLogo.png);
	background-position: 0 0!important;
	width:89px;
	height:110px;
	border:none!important;
}